body {
  background-color: #f5f8fa;
  color: #363c3d;
  font-size: 15px;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 10px;
}

h4 {
  font-size: 15px;
}

.my-photo {
  width: 30%;
  border-radius: 20px;
  box-shadow: -8px -8px 16px rgba(0,0,0,0.25);
}

.info-text {
  padding-left: 25px;
}

.info-text h4 {
  font-weight: normal;
  margin: 0;
}

.info-text p {
  font-weight: bold;
  margin: 3px 0px 10px 0px;

}

.info {
  display: flex;
  margin-bottom: 20px;
}

.container {
  width: 800px;
  margin: auto;
  padding-top: 30px;
}

.goals {
  background: rgb(211, 234, 238);
  box-shadow: -8px -8px 16px rgba(0,0,0,0.25);
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.list {
  padding: 0 20px;
  margin-bottom: 10px;
}

.list li {
  margin-bottom: 4px;
}

.timecard {
  background: rgb(211, 234, 238);
  box-shadow: -8px -8px 16px rgba(0,0,0,0.25);
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.tablecard {
  width: 200px;
  margin: auto;
}

.course {
  background: rgb(211, 234, 238);
  box-shadow: -8px -8px 16px rgba(0,0,0,0.25);
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.tablecurs {
  table-layout: fixed;
  width: 600px;
  margin: auto;
  border-collapse: collapse;
}

.tablecurs th {
  border-bottom: 2px solid #363c3d;
  padding: 10px;
}

.tablecurs td {
  text-align: center;
  padding: 8px;
}

.contacts {
  background: rgb(211, 234, 238);
  box-shadow: -8px -8px 16px rgba(0,0,0,0.25);
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.tablecontact {
  table-layout: fixed;
  width: 100%;
  margin: auto;
}
.tablecontact td {
  text-align: center;
 }

